*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* ------- Cabeçalho --------- */
header{
    width: 100%;
    display: flex;
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-between;
}

header .cabecalho{
    background-image: linear-gradient(rgba(17,47,86, 0.5), rgba(17, 47, 86, 0.5)), url("images/TombRaider.jpg");
    /* background: linear-gradient( 60deg,#f51df8, #7a1df8, #6e03ff, #f93f96); */
    background-size: 400%, 400%;
    width: 100%;
    height: 100vh;
    position: relative;
    /* animation: troca 8s ease-in-out infinite; */
}

/* @keyframes troca{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
} */
header .cabecalho h1{
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    
}

header .cabecalho h1::before{
    content: "🎮";
    padding-right: 10px;
    text-decoration: none;
}

header .nav-links button{
    background: none;
    border: none;
    font-size: 18px;
    padding-top: 20px;
    cursor: pointer;
}
.nav-links{
    width: 300px;
    margin-right: 20px;
}
.nav-links a:hover{
    color: #158ccb;
    transition: 0.5s;
}

.nav-links a{
    text-decoration: none;
    color: #fff;
}
.nav-links button{
    margin-left: 20px;
    margin-right: 12px;
}
/* ----------- hr tag ------------ */

.cabecalho hr{
    position: absolute;
    left: 20%;
    
}
hr{
    width: 60%;
    height: 2px;
    background: white;
    color: #fff;
}
/* ----- Boas vindas ---------- */

.boas-vindas{
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    width: 70%
}

/* background: rgba(26, 151, 222, 0.7); */
.mensagem{ 
    margin-top: 200px;
    margin-left: 10px;
    display: block;
    
    background: transparent;
    border: 1px solid white;
    width: 550px;
    height: 250px;
    border-radius: 25px;
}
.mensagem h1, p{
    color: white;
    font-size: 18px;
}
.mensagem h1::after{
    content: "🎮";
    padding-left: 2px;
}
.mensagem p{
    padding-top: 20px;
}
.boas-vindas img{
    width: 300px;
    position: absolute;
    top: 24%;
    left: 60%;
    transition: 0.2s;
}

.boas-vindas img:hover{
    transform: scale(1.2);
}

.boas-vindas button{
    margin-top: 50px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: #fa642c;
    font-size: 14px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.boas-vindas button::after{
    content: "\279C";
    padding-left: 5px;
}
.boas-vindas button:hover{
    background: #f64401;
}

