*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(17,47,86, 0.5), rgba(17, 47, 86, 0.5)), url("images/TombRaider.jpg");
    background-size: 120% auto;
    /* background: #000; */
}

.cabecalho{
    width: 100%;
    /* background: #3d4044; */
    height: 100%;
}
.cabecalho button{
    background: transparent;
    border: none;
    cursor: pointer;
}
.cabecalho h1{
    /* Horizontal | Vertical */
    text-shadow: 3px 3px rgba(0, 0, 0, 0.7);
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.cabecalho h1:before{
    content: "🎮";
    padding-right: 10px;
    text-decoration: none;
}
.row{
    display: flex;
    justify-content: space-between;
}
.nav-links{
    /* background: #000; */
    width: 25%;
    margin-right: 20px;
}
.nav-links button{
    background: none;
    border: none;
    font-size: 18px;
    padding-top: 30px;
    cursor: pointer;
    padding-left: 10px;
    margin-left: 20px;
    margin-right: 12px;
    color: #fff;
}
.nav-links button:hover{
    color: #158ccb;
    transition: 0.5s;
}
 /* -------- Logo games ----------- */

.ps4-logo{
    width: 250px;
    position: absolute;
    top: 45%;
    left: 20%;
    filter: grayscale(100%);
}
.ps4-logo:hover{
    filter: grayscale(0%);
    cursor: pointer;
}

.xbox-logo{
    width: 100px;
    position: absolute;
    top: 40%;
    left: 48%;
    filter: grayscale(100%);
}
.xbox-logo:hover{
    filter: grayscale(0%);
    cursor: pointer;
}

.nintendo-logo{
    width: 100px;
    position: absolute;
    top: 40%;
    left: 70%;
    filter: grayscale(100%);
}
.nintendo-logo:hover{
    filter: grayscale(0%);
    cursor: pointer;
}
/*--- Jogos de mídia física e digital ---*/

.destaque{
    text-align: center;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    height: auto;
}
.destaque h2{
    text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
}

.destaque hr{
    margin-top: 10px;
    width: 20%;
    position: absolute;
    left: 40%;
    height: 6px;
    background-color: #112f56;
    border: none;
    border-radius: 25px;
}
.destaque-jp img{
    width: 245px;
    margin-top: 40px;
}

.destaque-jp img:hover{
    transform: translateY(-10px);
    transition: 0.6s;
}
.destaque-jp h4{
    text-align: left;
    padding-top: 12px;
}
.destaque-jp p{
    text-align: left;
    font-size: 15px;
}

/* ------- PS4 Console --------- */
.console-games-ps4{
    margin-top: 20px;
    background-image: linear-gradient(#15a0e5, #1c8bc2, #15a0e5);
    width: 100%;
    height: 70vh;
    position: relative;
}
.console-games-ps4 .coluna{
    text-align: left;
    margin-top: 10%;
    margin-left: 120px;
}
.console-games-ps4 .oferta{
    font-size: 18px;
    font-weight: 0;
    color: #ccc;
}
.console-games-ps4 p{
    font-size: 22px;
    color: #fff;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.3);
}
.console-games-ps4 h1{
    font-size: 35px;
    color: #112f56;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.3);
}
.console-games-ps4 img{
    width: 600px;
    margin-top: 100px;
    margin-right: 140px;
}
.console-games-ps4 img:hover{
    transform: scale(1.3);
    transition: 0.4s;
}

.console-games-ps4 button{
    margin-top: 50px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: #fa642c;
    font-size: 16px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.console-games-ps4 button:after{
    content: "\279C";
    padding-left: 5px;
}
.console-games-ps4 button:hover{
    background: #f64401;
}

/* --------- Games Sale (PS4) ----------- */
.games-sale{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.games-sale h1{
    text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    letter-spacing: 2px;
}
.games-sale hr{
    margin-top: 12px;
    width: 30%;
    height: 5px;
    background-color: #112f56;
    border-radius: 25px;
    border:none;
}

.games-sale img {
    margin-top: 20px;
    width: 245px;
}
.games-sale img:hover{
    transform: translateY(-10px);
    transition: 0.6s;
}
.games-sale .row h4{
    text-align: left;
    padding-top: 12px;
}
.games-sale .row p{
    font-size: 15px;
    font-style: normal;
}
/*---------- Xbox One console ----- */
.console-games-xbox{
    margin-top: 20px;
    background-image: linear-gradient(#0da833, #13822e, #0da833);
    width: 100%;
    height: 70vh;
    position: relative;
}
.console-games-xbox .coluna{
    text-align: left;
    margin-top: 10%;
    margin-left: 120px;
}
.console-games-xbox .oferta{
    font-size: 18px;
    font-weight: 0;
    color: #ccc;
}
.console-games-xbox p{
    font-size: 22px;
    color: #fff;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.3);
}
.console-games-xbox h1{
    font-size: 35px;
    color: #1ed54b;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.3);
}
.console-games-xbox img{
    width: 550px;
    margin-top: 100px;
    margin-right: 140px;
}
.console-games-xbox img:hover{
    transform: scale(1.3);
    transition: 0.4s;
}

.console-games-xbox button{
    margin-top: 50px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: #fa642c;
    font-size: 16px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.console-games-xbox button:after{
    content: "\279C";
    padding-left: 5px;
}
.console-games-xbox button:hover{
    background: #f64401;
}
/* ---- Nintendo Console ---- */
.console-games-nintendo{
    margin-top: 20px;
    background-image: linear-gradient(#e8453d, #f02c21, #e8453d);
    width: 100%;
    height: 70vh;
    position: relative;
}
.console-games-nintendo .coluna{
    text-align: left;
    margin-top: 10%;
    margin-left: 120px;
}
.console-games-nintendo .oferta{
    font-size: 18px;
    font-weight: 0;
    color: #ccc;
}
.console-games-nintendo p{
    font-size: 22px;
    color: #fff;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.3);
}
.console-games-nintendo h1{
    font-size: 35px;
    color: #e95c5c;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.3);
}
.console-games-nintendo img{
    width: 550px;
    margin-top: 100px;
    margin-right: 140px;
}
.console-games-nintendo img:hover{
    transform: scale(1.3);
    transition: 0.4s;
}

.console-games-nintendo button{
    margin-top: 50px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: #fa642c;
    font-size: 16px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.console-games-nintendo button:after{
    content: "\279C";
    padding-left: 5px;
}
.console-games-nintendo button:hover{
    background: #f64401;
}
/* --- Footer --- */
footer{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    background-color: #000;
    color: #8a8a8a;
    height: 31vh;
}
footer h3, h4{
    padding-top: 5px;
}
footer .coluna{
    padding-top: 40px;
    padding-left: 70px;
}
footer .coluna img{
    padding-top: 15px;
    width: 140px;
    height: auto;
    padding-right: 10px;
}
footer .coluna .ios-store{
    margin-top: 10px;
    width: auto;
    height: 60px;
}
footer .store-logo button{
    background: transparent;
    border: none;
    color: #fff;
    padding-top: 75px;
    cursor: pointer;
    font-size: 25px;
}
footer .store-logo h1:before{
    content: "🎮";
    padding-right: 10px;
    text-decoration: none;
}
footer .siga-nos{
    padding-right: 10%;
    padding-top: 60px;
}
footer .siga-nos h2{
    padding-bottom: 35px;
}
footer .siga-nos ul li{
    display: inline;
    padding: 10px;
}
footer .siga-nos .Youtube{
    width: 70px;
    cursor: pointer;
}
footer .siga-nos .Twitter{
    width: 56px;
    cursor: pointer;
}
footer .siga-nos .Facebook{
    width: 50px;
    cursor: pointer;
}
header .cabecalho-detalhes{
    height: 35vh;
}
/* --- Detalhes Produto ---- */
.cabecalho-max{
    height: 45vh;
}
.detalhes-produto{
    margin-left: 20px;
    margin-top: 20px;
    width: 680px;
    /* background-color: #112f56; */
}
.detalhes-produto img{
    width: 280px;
}
.detalhes-produto h1{
    margin-top: 20px;
}
.detalhes-produto h2{
    padding-top: 110px;
}
.detalhes-produto button{
    width: 120px;
}
.text-big-format{
    text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    letter-spacing: 2px;
    color: #000;
}
.button-format{
    width: auto;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: #fa642c;
    font-size: 16px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}
.button-format:after{
    content: "\2714";
    padding-left: 5px;
}
.button-format:hover{
    background: #f64401;
}
.detalhes-produto .Descrição{
    padding-top: 5px;
}
/* --- Estrelas ---- */
.estrelas{
    display: flex;
    list-style: none;
    width: 100%;
}
.estrelas li{
    display: inline;
    float: right;   
}
.estrelas .fas{
    color: #fa642c;
}
.estrelas li .fas:hover{
    color: #f64401;
}